#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
	display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 1fr;
}

.column {
	display: grid;
  grid-gap: 10px;
  grid-template-rows: 180px;
}

.weaponCard {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  background-color: #262626;
  line-height: .7;
}

.weaponCard div {
 text-align: right;
}

.itemlist {
	position:relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  z-index: 7;
}

.read-the-docs {
  color: #888;
}

.box {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
}

.tab_header {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.tab_header li {
  flex: 1;
  cursor: pointer;
  padding: 2rem;
  border: 2px solid var(--text-color);
  text-align: center;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  font-size: 2rem;
}

.tab_container {
  width: 80em;
}

.tab_content {
}

.tab_button {

}

.active {
  background: var(--text-color);
  font-weight: 900;
}

